
.Grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,35vh);
  margin:2rem;
  grid-gap: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.HobbisH3{
  text-align: center;
  margin:2rem;
  font-family: "Sansita Swashed";
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}
